<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Kapella Bootstrap Admin Dashboard Template</title>
  <!-- base:css -->
  <link rel="stylesheet" href="{% static "vendors/mdi/css/materialdesignicons.min.css" %}">
  <link rel="stylesheet" href="{% static "vendors/base/vendor.bundle.base.css" %}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static "css/style.css" %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static "images/favicon.png" %}" />
  
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_horizontal-navbar.html -->               
                   
    <div class="horizontal-menu">
			<nav class="navbar top-navbar col-lg-12 col-12 p-0">
				<div class="container-fluid">
					<div class="navbar-menu-wrapper d-flex align-items-center justify-content-between">
						<!-- <ul class="navbar-nav navbar-nav-left">
              <li class="nav-item ml-0 mr-5 d-lg-flex d-none">
                <a href="#" class="nav-link horizontal-nav-left-menu"><i class="mdi mdi-format-list-bulleted"></i></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center" id="notificationDropdown" href="#" data-toggle="dropdown">
                  <i class="mdi mdi-bell mx-0"></i>
                  <span class="count bg-success">2</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                  <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                        <div class="preview-icon bg-success">
                          <i class="mdi mdi-information mx-0"></i>
                        </div>
                    </div>
                    <div class="preview-item-content">
                        <h6 class="preview-subject font-weight-normal">Application Error</h6>
                        <p class="font-weight-light small-text mb-0 text-muted">
                          Just now
                        </p>
                    </div>
                  </a>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                        <div class="preview-icon bg-warning">
                          <i class="mdi mdi-settings mx-0"></i>
                        </div>
                    </div>
                    <div class="preview-item-content">
                        <h6 class="preview-subject font-weight-normal">Settings</h6>
                        <p class="font-weight-light small-text mb-0 text-muted">
                          Private message
                        </p>
                    </div>
                  </a>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                        <div class="preview-icon bg-info">
                          <i class="mdi mdi-account-box mx-0"></i>
                        </div>
                    </div>
                    <div class="preview-item-content">
                        <h6 class="preview-subject font-weight-normal">New user registration</h6>
                        <p class="font-weight-light small-text mb-0 text-muted">
                          2 days ago
                        </p>
                    </div>
                  </a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center" id="messageDropdown" href="#" data-toggle="dropdown">
                  <i class="mdi mdi-email mx-0"></i>
                  <span class="count bg-primary">4</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                  <p class="mb-0 font-weight-normal float-left dropdown-header">Messages</p>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                        <img src="images/faces/face4.jpg" alt="image" class="profile-pic">
                    </div>
                    <div class="preview-item-content flex-grow">
                        <h6 class="preview-subject ellipsis font-weight-normal">David Grey
                        </h6>
                        <p class="font-weight-light small-text text-muted mb-0">
                          The meeting is cancelled
                        </p>
                    </div>
                  </a>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                        <img src="images/faces/face2.jpg" alt="image" class="profile-pic">
                    </div>
                    <div class="preview-item-content flex-grow">
                        <h6 class="preview-subject ellipsis font-weight-normal">Tim Cook
                        </h6>
                        <p class="font-weight-light small-text text-muted mb-0">
                          New product launch
                        </p>
                    </div>
                  </a>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                        <img src="images/faces/face3.jpg" alt="image" class="profile-pic">
                    </div>
                    <div class="preview-item-content flex-grow">
                        <h6 class="preview-subject ellipsis font-weight-normal"> Johnson
                        </h6>
                        <p class="font-weight-light small-text text-muted mb-0">
                          Upcoming board meeting
                        </p>
                    </div>
                  </a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link count-indicator "><i class="mdi mdi-message-reply-text"></i></a>
              </li>
              <li class="nav-item nav-search d-none d-lg-block ml-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="search">
                        <i class="mdi mdi-magnify"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="search" aria-label="search" aria-describedby="search">
                </div>
              </li>	
            </ul> -->
            
						<div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
							<a class="navbar-brand brand-logo" href="{% static "index.html" %}"><img src="{% static "images/logo.png" %}"
									alt="logo" /></a>
							<a class="navbar-brand brand-logo-mini" href="{% static "index.html" %}"><img src="{% static "images/logo-mini.png" %}"
									alt="logo" /></a>
						</div>
						<ul class="navbar-nav navbar-nav-right">
							<!-- <li class="nav-item dropdown  d-lg-flex d-none">
                  <button type="button" class="btn btn-inverse-primary btn-sm">Product </button>
                </li> -->
							<li class="nav-item dropdown d-lg-flex d-none">
								<a class="dropdown-toggle show-dropdown-arrow btn btn-inverse-primary btn-sm"
									id="nreportDropdown" href="#" data-toggle="dropdown">
									Reports
								</a>
								<div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
									aria-labelledby="nreportDropdown">
									<p class="mb-0 font-weight-medium float-left dropdown-header">Reports</p>
									<a class="dropdown-item">
										<button type="button" id="downloadpdf" style="cursor: pointer; border: none;"> <i class="mdi mdi-file-pdf text-primary"></i>Pdf
                    </button>
                    
									</a>
									<!-- <a class="dropdown-item">
										<i class="mdi mdi-file-excel text-primary"></i>
										Exel
									</a> -->
								</div>
							</li>
							<!-- <li class="nav-item dropdown d-lg-flex d-none">
                  <button type="button" class="btn btn-inverse-primary btn-sm">Settings</button>
                </li> -->
                
							<li class="nav-item nav-profile dropdown">
								<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
									id="profileDropdown">
									<span class="nav-profile-name" id="User_TOP"></span>
									<span class="online-status"></span>
									<img src="{% static "images/faces/face28.png" %}" alt="profile" />
								</a>
								<div class="dropdown-menu dropdown-menu-right navbar-dropdown"
									aria-labelledby="profileDropdown">
									<!-- <a class="dropdown-item">
										<i class="mdi mdi-settings text-primary"></i>
										Settings
									</a> -->
									<a class="dropdown-item" href="{% url 'index' %}">
										<i class="mdi mdi-logout text-primary"></i>
										Logout
									</a>
								</div>
							</li>
						</ul>
						<button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
							data-toggle="horizontal-menu-toggle">
							<span class="mdi mdi-menu"></span>
						</button>
					</div>
				</div>
			</nav>
      
			<nav class="bottom-navbar">
				<div class="container">
					<ul class="nav page-navigation">
						<li class="nav-item">
              <a class="nav-link" href="#">
                  <i class="mdi mdi-view-list" style="font-size: 28px;"></i>
                  <span class="menu-title">Dashboard</span>
              </a>
          </li>
          <li class="nav-item">
              <a href="#" class="nav-link">
                  <i class="mdi mdi-trending-up" style="font-size: 28px;"></i>
                  <span class="menu-title">Income</span>
                  <i class="menu-arrow"></i>
              </a>
              <div class="submenu">
                  <ul>
                      <li class="nav-item"><a class="nav-link" href="{% url 'addIncome' %}">Add
                              Income</a></li>
                      <!-- <li class="nav-item"><a class="nav-link" href="pages/ui-features/typography.html">View Income</a></li> -->
                      <li class="nav-item"><a class="nav-link"
                              href="{% url 'viewIncome' %}">View Income Statement</a></li>

                  </ul>
              </div>
          </li>
          <li class="nav-item">
              <a href="#" class="nav-link">
                  <i class="mdi mdi-trending-down" style="font-size: 28px;"></i>
                  <span class="menu-title">Expense</span>
                  <i class="menu-arrow"></i>
              </a>
              <div class="submenu">
                  <ul>
                      <li class="nav-item"><a class="nav-link" href="{% url 'addExpense' %}">Add Expense</a></li>
                      <!-- <li class="nav-item"><a class="nav-link" href="#">View Expense</a></li> -->
                      <li class="nav-item"><a class="nav-link" href="{% url 'viewExpense' %}">View Expense Statement</a></li>

                  </ul>
              </div>
          </li>
          <!-- <li class="nav-item">
              <a href="{% static "pages/charts/chartjs.html" %}"class="nav-link">
                  <i class="mdi mdi-chart-areaspline" style="font-size: 28px;"></i>
                  <span class="menu-title">Charts</span>
                  <i class="menu-arrow"></i>
              </a>
          </li> -->
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="mdi mdi-trophy-outline" style="font-size: 28px;"></i>
              <span class="menu-title">Goals</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="submenu">
              <ul>
                <li class="nav-item"><a class="nav-link" href="{% url 'addGoal' %}">Add a Goal</a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="#">View Expense</a></li> -->
                <li class="nav-item"><a class="nav-link" href="{% url 'viewGoal' %}">View Goals</a></li>

              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="mdi mdi-equal-box" style="font-size: 28px;"></i>
              <span class="menu-title">Bills</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="submenu">
              <ul>
                <li class="nav-item"><a class="nav-link" href="{% url 'addBill' %}">Add Bill</a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="#">View Expense</a></li> -->
                <li class="nav-item"><a class="nav-link" href="{% url 'viewBill' %}">View Bills</a></li>

              </ul>
            </div>
          </li>
						</ul>
				</div>
			</nav>
		</div>         
                   
    <!-- partial -->
    <div class="container-fluid page-body-wrapper" id="invoice">
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">View Income Category Wise</h4>
                      <canvas id="pieChart"></canvas>
                    </div>
                  </div>
            </div>
            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">View Yearly</h4>
                  <canvas id="barChart"></canvas>
                </div>
              </div>
            </div>
          </div>            
        </div>
<!-- CODE FOR TABLE STARTS -->


<div class="row">


    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Your Income Statement</h4>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <form class="form-control" method="POST">
  
                          {% csrf_token %}
                        <th style="width: 300px;"><label for="exampleInputDate" style="color: rgb(60, 30, 228);">&nbsp &nbsp From:</label>
                          <input type="date" class="form-control" name="date_start" > </th>
                        <th style="width: 300px;"><label for="exampleInputDate" style="color: rgb(60, 30, 228);">&nbsp &nbsp To:</label>
                          <input type="date" class="form-control"  name="date_end">                                      
                 </th>
                        <th> <button type="submit" class="btn btn-primary btn-rounded btn-fw" style="margin: 5px;"  name="date_submit" >Search</button>
                        </th>
                                  
  </form>
                      </tr>
                    </thead>
                    <tbody>
                
                    </tbody>
                  </table>
                </div>
                <!-- <div class="filterbutton" style="width: 500px;">
                  <label for="exampleInputDate">From</label>
                  <input type="date" class="form-control">                                      
                     
             <label for="exampleInputDate">To</label>
                      <input type="date" class="form-control">                                      
                              <button type="button" class="btn btn-primary btn-rounded btn-fw" style="margin-top:10px;">Search</button>
                       </div> -->
                     <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <!-- <th> User</th> -->
                                <th>Income</th>
                                    <th>Date</th>
                                <th>Income Category</th>
                                <th>IncomeDescription</th>

                               
                            
                                
                            </tr>
                        </thead>
                        <tbody>

                            <!-- 1ST ROW -->



                            {% for inc in incomes %}
                            <tr>
                              <td> <span style="font-family:Arial; ">&#8377;</span>{{ inc.Amount }}</td>
                              <td>{{ inc.Date_time }} </td>
                              <td>{{ inc.Type }}</td>
                                <td>{{ inc.detail }}</td>
                                
                              {% endfor %}

                              {% if messages %}
                              <ul class="messages">
                                {% for message in messages %}
                                <!-- <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> -->
                                <script>alert("{{ message }}")</script> 
                                {% endfor %}
                              </ul>
                              {% endif %}
                               
                            </tr>

                            <!-- <tr>
                              <td> <span style="font-family:Arial; ">&#8377;</span>4000</td>
                              <td>May 15,2021 </td>
                              <td>Category</td>
                                <td>Description</td>

                              
                               
                            </tr> -->


                            <!-- 2ND ROW -->
                            <!-- <tr>
                              <td> <span style="font-family:Arial; ">&#8377;</span>4000</td>
                              <td>May 15,2021 </td>
                              <td>Category</td>
                                <td>Description</td>

                              
                               
                            </tr> -->
                            <!-- 3RD ROW -->
                            <!-- <tr>
                              <td> <span style="font-family:Arial; ">&#8377;</span>4000</td>
                              <td>May 15,2021 </td>
                              <td>Category</td>
                                <td>Description</td>

                              
                               
                            </tr> -->

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



</div>

<!-- CODE FOR TABLE ENDS -->
        
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <!-- <footer class="footer">
          <div class="footer-wrap">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap dashboard templates</a> from Bootstrapdash.com</span>
            </div>
          </div>
        </footer> -->
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- base:js -->
  
  <script src="{% static "vendors/base/vendor.bundle.base.js" %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{% static "js/template.js" %}"></script>
  <!-- endinject -->
  <!-- plugin js for this page -->
  <script src="{% static "vendors/chart.js/Chart.min.js" %}"></script>
  <!-- End plugin js for this page -->
  <!-- Custom js for this page-->
  <!-- <script src="{% static "js/chart.js" %}"></script> -->
  <!-- End custom js for this page-->


  <script>


    var user_inc_mon_num=new Array(12);
    var user_inc_mon_amount=new Array(12);
    
    var user_income_names=new Array(100);
    var user_income_perc=new Array(100);
    
    $(function() {
      /* ChartJS
       * -------
       * Data and config for chartjs
       */
      'use strict';
        console.log(JSON.parse("{{dataval|escapejs}}"));
        var data = JSON.parse("{{dataval|escapejs}}");
        user_inc_mon_num=data["user_inc_mon_num"];
        user_inc_mon_amount=data["user_inc_mon_amount"];
        user_income_names=data["user_income_names"];
        user_income_perc=data["user_income_perc"];

        var user_prof=document.getElementById("User_TOP");
		    user_prof.innerHTML += data["current_user"];
        
      var data = {
        labels: user_inc_mon_num,
        datasets: [{
          label: 'Income (in K)',
          data: user_inc_mon_amount,
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1,
          fill: false
        }]
      };
      var options = {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        },
        legend: {
          display: false
        },
        elements: {
          point: {
            radius: 0
          }
        }
    
      };
      var doughnutPieData = {
        datasets: [{
          data: user_income_perc,
          backgroundColor: [
            'rgba(255, 99, 132, 0.5)',
            'rgba(54, 162, 235, 0.5)',
            'rgba(255, 206, 86, 0.5)',
            'rgba(75, 192, 192, 0.5)',
            'rgba(153, 102, 255, 0.5)',
            'rgba(255, 159, 64, 0.5)'
          ],
          borderColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
        }],
    
        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels:user_income_names
      };
      var doughnutPieOptions = {
        responsive: true,
        animation: {
          animateScale: true,
          animateRotate: true
        }
      };
      
      // Get context with jQuery - using jQuery's .get() method.
      if ($("#barChart").length) {
        var barChartCanvas = $("#barChart").get(0).getContext("2d");
        // This will get the first returned node in the jQuery collection.
        var barChart = new Chart(barChartCanvas, {
          type: 'bar',
          data: data,
          options: options
        });
      }
      
    
      if ($("#pieChart").length) {
        var pieChartCanvas = $("#pieChart").get(0).getContext("2d");
        var pieChart = new Chart(pieChartCanvas, {
          type: 'pie',
          data: doughnutPieData,
          options: doughnutPieOptions
        });
      }
    
      
    });
    
    
    
    
    
    
    
      </script>
    

    <script>
      window.onload = function () {
      document.getElementById("downloadpdf")
          .addEventListener("click", () => {
              const invoice = this.document.getElementById("invoice");
              console.log(invoice);
          console.log(window);
          
              var opt = {
                margin:0.00001,
                  filename: 'myfile.pdf',
               
                  html2canvas: { scale:1 },
                
                 jsPDF: { unit: 'in', format: 'letter', orientation: 'landscape' }
           };
           
             html2pdf().from(invoice).set(opt).save();
         })    }
  
  //      function printPDF() { 
  //    var element = document.getElementById('invoice');
  //    element.style.display = 'block'  
  //    html2pdf(element);  
  //    conlose.log('printPDF()');
  
  //  }
  /*
  var doc = new jsPDF('p','pt','a4');
  
     var specialElementHandlers = {
         '#hidediv': function (element, renderer) {
             return true;
         }
     };
  
     $('#downloadpdf').click(function () {
         doc.fromHTML($('#invoice').html(), 15, 15, {
             'width': 200,
                 'elementHandlers': specialElementHandlers
             
               });
     
         doc.save('sample-file.pdf');
     });
     */
  
  
     function demoFromHTML() {
        var pdf = new jsPDF('p', 'pt', 'letter');
        // source can be HTML-formatted string, or a reference
        // to an actual DOM element from which the text will be scraped.
        source = $('#invoice')[0];
  
        // we support special element handlers. Register them with jQuery-style 
        // ID selector for either ID or node name. ("#iAmID", "div", "span" etc.)
        // There is no support for any other type of selectors 
        // (class, of compound) at this time.
        specialElementHandlers = {
            // element with id of "bypass" - jQuery style selector
            '#hidediv': function (element, renderer) {
                // true = "handled elsewhere, bypass text extraction"
                return true
            }
        };
        margins = {
            top: 80,
            bottom: 60,
            left: 40,
            width: 522
        };
        // all coords and widths are in jsPDF instance's declared units
        // 'inches' in this case
        pdf.fromHTML(
        source, // HTML string or DOM elem ref.
        margins.left, // x coord
        margins.top, { // y coord
            'width': margins.width, // max width of content on PDF
            'elementHandlers': specialElementHandlers
        },
  
        function (dispose) {
            // dispose: object with X, Y of the last line add to the PDF 
            //          this allow the insertion of new lines after html
            pdf.save('Test.pdf');
        }, margins);
    }
    
    </script>
  
  


</body>

</html>
